<!DOCTYPE html>
<html
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Página de Login</title>
<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" /> -->
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
</head>
<body>

	<header>
		<div class="ini-topo"></div>
		<nav>
			<ul>
				<li><a href="/inicio">Início</a></li>
				<li><a href="/produto/galeria"> <span
						sec:authorize="!hasRole('ADMIN')">Galeria</span></a></li>
				<li><a href="/produto/listar"> <span
						sec:authorize="hasRole('ADMIN')">Produtos</span></a></li>
				<li><a href="/cliente/logar"> <span
						sec:authorize="!isAuthenticated()">Logar</span></a></li>
				<li><a href="/produto/cadastrarProduto"> <span
						sec:authorize="hasRole('ADMIN')">Cadastrar produto</span></a></li>

				<li><a href="/cliente/cadastrarCliente"> <span
						sec:authorize="!isAuthenticated()">Cadastrar Cliente</span></a></li>

				<li><a href="/carrinho"> <span
						sec:authorize="hasRole('USER')">Carrinho</span></a></li>
				<li><a href="/logout"> <span
						sec:authorize="isAuthenticated()">logout</span></a></li>
			</ul>
		</nav>
	</header>

	<form method="POST" action="/cliente/logar">

		Usuário: <input type="text" name="username"> Senha: <input
			type="password" name="password"> <input type="submit"
			value="Logar">




	</form>


</body>
</html>